fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
pydantic
pydantic-settings
aiohttp
beautifulsoup4
playwright
apscheduler
python-dotenv
httpx[http2]
jinja2
parse-torrent-title
PyYAML
feedparser
pytest
pytest-asyncio
docker
jsonpath-ng
yt-dlp
releascenify